{% extends layout %}
{% block  content %}
<div class="item-container">
  {% include "components/sidebar.njk" %}
  <img src="/images/profiles/Profilepicture.png">
  <form method="post" action="/profile">
    <input type="file" name="img" id="img">
    <input type="submit">
</form>
</form>
</div>
{% endblock %}